@font-face {
  font-family: 'Jersey 25';
  src: url('Jersey25-Regular.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 10px;
  font-family: 'Jersey 25';
  background-image: url('Assets/1406225jr72tr8yng.gif');
  background-repeat: repeat;
  background-color: #c3cbe9;
}

.player {
  position: relative;
  display: block;
  width: 300px;
  margin-top: 40px;
  font-size: 30px;
}

.device {
  display: block;
  width: 100%;
}

.screen {
  position: absolute;
  top: 27px;
  left: 27px;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 246px;
  height: 185px;

  overflow: hidden;

  border: 3px solid #363535;
  border-radius: 3px;

  background: #eae9e7;
  text-wrap: nowrap;
}

.screen-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  overflow: hidden;

  padding-top: 10px;
}

.album-covers {
  width: 90px;
  height: 90px;

  margin-top: 2px;

  object-fit: cover;
  border-radius: 4px;
}

.song-title {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  margin-bottom: 8px;

  width: 100%;
  white-space: nowrap;

  font-size: 20px;
  font-weight: bold;
  text-align: center;

  color: #000000;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.scroll {
  animation: marquee 8s linear infinite;
}

.progress {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
  height: 5px;

  margin: 0;

  appearance: none;
  -webkit-appearance: none;

  border-radius: 5px;
  outline: none;

  background: #c3cbe9;
}

.progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;

  appearance: none;
  -webkit-appearance: none;

  border-radius: 50%;

  background: #f390b0;

  cursor: pointer;
}

.upload-button {
  --color1: #62f3c8;
  --color2: #a9fada;
  --color3: #c1faf0;
}

.btn {
  padding: 6px !important;

  border: 4px solid black;
  border-radius: 99px;

  color: black;

  background-image: radial-gradient(
    100% 100% at top,
    var(--color2) 30%,
    var(--color3) 66%,
    var(--color1) 66% 70%,
    var(--color2) 90%
  ) !important;

  box-shadow:
    inset 0 0 0 2px var(--color1),
    0 0 0 2.5px white;

  cursor: pointer;
}

.audio-player {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 65px;
}

.wheel {
  position: absolute;

  width: 150px;
  height: 150px;

  bottom: 50px;
  left: 75px;
}

.wheel-button {
  position: absolute;

  background: transparent;
  border: none;

  cursor: pointer;

  font-size: 19px;
}

.menu {
  top: -130px;
  left: 47px;

  color: transparent;
}

.previous {
  top: -60px;
  left: -6px;

  color: transparent;
}

.next {
  top: -60px;
  left: 144px;

  color: transparent;
}

.play-pause {
  bottom: 110px;
  left: 70px;

  color: transparent;
}

.select {
  top: -88px;
  left: 53px;

  font-size: 55px;
  color: transparent;
}

.selected {
  width: 100%;

  padding: 3px 0 10px;

  background: #000000;
  color: white;

  text-align: center;
}

.menu-item {
  width: 100%;

  padding: 3px 0 10px;

  font-size: 30px;
  text-align: center;
}
