@font-face {
  font-family: 'Jersey 25';
  src: url('Jersey25-Regular.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e6b8b8;
  transform-style: preserve-3d;
  font-family: 'Jersey 25';
}

.player{
    position: relative;
    width: 300px;
    display: block;
}

.device {
    width: 100%;
    display: flex;
}

.screen {
    position: absolute;
    top: 27px;
    left: 27px;
    width: 246px;
    height: 185px;
    border-radius: 3px;
    border: 3px solid #363535;

    background: #ffffff;
    overflow: hidden;
}